@{
    ViewData["Title"] = "Home Page";
}

<body style="background : linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%)">
    <div class="container" style="height: 800px">
        <div class="text-center" style="margin-top: 30%">
            <a style="display: inline; width:150px; height: 80px;"class="btn btn-light nav-link text-dark" asp-area="" asp-controller="Ville" asp-action="Ville">Voir les villes</a>
        </div>
    </div>

</body>
